* {
    font-family: 'Poppins', sans-serif;
}

/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */

#myInput {
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
 
#myTable {
    border-collapse: collapse;
    /* table-layout: fixed; */
    width: 100%;
    font-size: 16px;
}

#myTable th, #myTable td { 
    text-align: center; 
    padding: 12px; 
} 

#myTable th { 
    background: #ffffff; 
    border-top: 1px solid #ddd; 
    border-bottom: 2px solid #ddd; 
} 

#myTable tr { 
    border-bottom: 1px solid #ddd; 
} 

#myTable tr:nth-child(even) { 
    background-color: #f2f2f2; 
}

#myTable tr.header, #myTable tr:hover { 
    background-color: #ddd; 
} 

th { 
    text-align: center; 
} 

.disabled { 
    pointer-events: none; 
    background: #ffffff; 
} 


if(document.getElementById("test").checked) { 
    document.getElementById("testhidden").disabled = true; 
} 

/* ---------------------------------------------------
    TABLE STYLE (OLD)
----------------------------------------------------- */

/* #ztable { */
/*     font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; */
/*     width: 100%; */
/* } */

/* #ztable td, #ztable th { */
/*     border: 2px solid #ddd; */
/*     padding: 8px; */
/* } */

/* #ztable tr:nth-child(even){ */
/*     background-color: #f2f2f2; */
/* } */

/* #ztable tr:hover { */
/*     background-color: #ddd; */
/* } */

/* #ztable th { */
/*     text-align: center; */
/*     background-color: #4CAF50 */
/* } */

/* #ztable td { */
/*     text-align: center; */
/* } */

/* #ztable ul { */
/*     position: fixed; */
/*     width: 100%; */
/*     list-style-type: none; */
/*     margin: 0; */
/*     padding: 0; */
/*     overflow: hidden; */
/*     background-color: #333; */
/* } */

/* #ztable li { */
/*     float: left; */    
/* } */

/* #ztable li a { */              
/*     display: block; */
/*     color: white; */
/*     text-align: center; */
/*     padding: 14px 16px; */
/*     text-decoration: none; */
/* } */

/* #ztable li a:hover:not(.active) { */
/*     background-color: #111; */
/* } */

/* .active { */
/*     background-color: #ff3b3f; */
/* } */



/* ---------------------------------------------------
    NAVBAR/PAGE STYLE
----------------------------------------------------- */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #D22B2B;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #B82626;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    /* color: #7386D5; */
    color: #000000;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #D22B2B;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background-color: #D1BBA8;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #B82626;
    color: #fff;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#navdrop {
    background-color: #D1BBA8;
    border-radius: 10px;
    font-weight: bold;
}

#sidebarCollapse {
    background: #B82626;
    color: #fff;
}

.navcent {
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
}

a.disabledLink {
    pointer-events: none;
    cursor: default;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    FORM STYLES
----------------------------------------------------- */
.formRack, .formMtl, .formSize, .formSheet, .formNote {
    margin-bottom: 20px;
}

.formAdv {
    /* color: red; */
    float: right;
    margin-right: 20px;
    font-weight: bold;
}

/* #holdcb, #wipcb, #modelcb, #aprcb, #qccb, #mtlcb, #pgmcb, #tlhcb, #donecb, #verf { */
/*     accent-color: #B82626; */
/* } */

.formBtn {
    background-color: #B82626;
}

.formTitle {
    color: black;
    margin-bottom: 0;
    font-size: 16px;
    margin-left: 10px;
}

/* ---------------------------------------------------
    FLOOR MAP
----------------------------------------------------- */
#floor {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 400px;
    font-size: 30px;
    margin-top: 50px;
}

#rack12 {
    width: 100px;
    height: 400px;
    border: 3px solid black;
    position: relative;
}

.textVert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#col1 {
    margin-right: 50px;
    width: 100px;
    height: 400px;
}

#rack01 {
    width: 100px;
    height: 200px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    position: relative;
}

#rack02 {
    width: 100px;
    height: 200px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    position: relative;
}

#rack03 {
    margin-top: 100px;
    width: 100px;
    height: 200px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    position: relative;
}

#col2 {
    margin-top: 100px;
    margin-right: 50px;
    width: 400px;
    height: 200px;
}

#col3 {
    margin-top: 100px;
    width: 400px;
    height: 200px;
}

#rack11, #rack10 {
    width: 400px;
    height: 100px;
    border: 3px solid black;
    position: relative;
}

.inline {
    display: flex;
}

#rack04, #rack05, #rack06, #rack07 {
    width: 200px;
    height: 100px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    position: relative;
}

#rack04, #rack06 {
    border-left: 3px solid black;
}

#col4 {
    margin-top: 100px;
    width: 200px;
    height: 200px;
}

#rack08 {
    width: 200px;
    height: 100px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    position: relative;
}

#rack09 {
    width: 200px;
    height: 100px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    position: relative;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}



