{% extends 'base.html' %}

{% block content %}
    <h1 align='center'>Advanced Settings</h1>
    <form method="POST" id="target">
        <div class="form-group">
            <p class="formTitle">Rack</p> <input type="text" class="form-control formRack" name="rack" value="{{ data.rack }}" placeholder="Rack" readonly>
        </div>
        <div class="form-group">
            <p class="formTitle">Material Type</p> <input type="text" class="form-control formRack" name="matl" value="{{ data.matl }}" placeholder="Material Type">
        </div>
        <div class="form-group">
            <p class="formTitle">Sheet Size</p> <input type="text" class="form-control formRack" name="size" value="{{ data.size }}" placeholder="Sheet Size">
        </div>
        <div class="form-group">
            <input type="hidden" type="text" class="form-control" name="note" value="{{ data.note }}" placeholder="Notes">
        </div>
        <div class="form-group">
            <p class="formTitle">Weight (lb/ft<sup>2</sup>)</p> <input type="text" class="form-control formRack" name="weight" value="{{ data.weight }}" placeholder="Weight">
        </div>
        <div class="form-group">
            <p class="formTitle">Sheet Size (ft<sup>2</sup>)</p> <input type="text" class="form-control formRack" name="row" value="{{ data.row }}" placeholder="Sheet Size">
        </div>
        <div class="form-group">
            <p class="formTitle">Phidget ID</p> <input type="text" class="form-control formRack" name="phidget" value="{{ data.phidget }}" placeholder="Phidget">
        </div>

        <button type="submit" class="btn btn-block btn-primary formBtn">Update</button>
    </form>
{% endblock %}
