{% extends 'base.html' %}

{% block content %}
    <body>
        <div>
            <h1 align="center">Material Racks</h1>
            <br>
            <div id="searchFxn">
                <!-- <h3 id="qFind">Quick Find</h3> -->
                <div class="form-group" id="searchBox">
                    <select class="form-control" name ="material" id="material">
                        <option value="Material">Select Material</option>
                        {% for m in mtl %}
                            <option value="{{ m }}">{{ m[2] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- <button type="submit" class="btn btn-block btn-primary findBtn">Find</button> -->
            </div>
        </div>
        <div id="results">
            <div id="rackFind"></div>
            <div id="rowFind"></div>
            <div id="sizeFind"></div>
            <div id="numFind"></div>
            <div id="noteFind"></div>
        </div>

        <div id="floor">
            <div id="rack12">
                <div class=textVert>
                    12
                </div>
            </div>
            <div id="col1">
                <div id="rack02">
                    <div class=textVert>
                        <a href="{{ url_for('rack02') }}">02</a>
                    </div>
                </div>
                <div id="rack01">
                    <div class=textVert>
                        <a href="{{ url_for('rack01') }}">01</a>
                    </div>
                </div>
            </div>
            <div id="rack03">
                <div class=textVert>
                    <a href="{{ url_for('rack03') }}">03</a>
                </div>
            </div>
            <div id="col2">
                <div id="rack11">
                    <div class=textVert>
                        <a href="{{ url_for('rack11') }}">11</a>
                    </div>
                </div>
                <div class="inline">
                    <div id="rack04">
                        <div class=textVert>
                            <a href="{{ url_for('rack04') }}">04</a>
                        </div>
                    </div>
                    <div id="rack05">
                        <div class=textVert>
                            <a href="{{ url_for('rack05') }}">05</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="col3">
                <div id="rack11">
                    <div class=textVert>
                        <a href="{{ url_for('rack10') }}">10</a>
                    </div>
                </div>
                <div class="inline">
                    <div id="rack06">
                        <div class=textVert>
                            <a href="{{ url_for('rack06') }}">06</a>
                        </div>
                    </div>
                    <div id="rack07">
                        <div class=textVert>
                            <a href="{{ url_for('rack07') }}">07</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="col4">
                <div id="rack09">
                    <div class=textVert>
                        <a href="{{ url_for('rack09') }}">09</a>
                    </div>
                </div>
                <div id="rack08">
                    <div class=textVert>
                        <a href="{{ url_for('rack08') }}">08</a>
                    </div>
                </div>
            </div>
        </div>
    
    <script>
        let allMtl = [];
        let r1 = document.getElementById('rack01');
        let r2 = document.getElementById('rack02');
        let r3 = document.getElementById('rack03');
        let r4 = document.getElementById('rack04');
        let r5 = document.getElementById('rack05');
        let r6 = document.getElementById('rack06');
        let r7 = document.getElementById('rack07');
        let r8 = document.getElementById('rack08');
        let r9 = document.getElementById('rack09');
        let r10 = document.getElementById('rack10');
        let r11 = document.getElementById('rack11');
        let r12 = document.getElementById('rack12');
        $("#material").on('change', function() {
            $("#rackFind").html('');
            $("#rowFind").html('');
            $("#sizeFind").html('');
            $("#numFind").html('');
            $("#noteFind").html('');
            let selectedMatl = $("#material").val();
            let data = selectedMatl.split("'");
            let rack;
            if (data[1] > 0 && data[1] <= 18) {
                resetFormat()
                r1.setAttribute("style", "background-color: #D22B2B;");
                rack = 1;
            } else if (data[1] >= 19 && data[1] <= 36) {
                resetFormat()
                r2.setAttribute("style", "background-color: #D22B2B;");
                rack = 2;
            } else if (data[1] >= 37 && data[1] <= 47) {
                resetFormat()
                r3.setAttribute("style", "background-color: #D22B2B;");
                rack = 3;
            } else if (data[1] >= 48 && data[1] <= 57) {
                resetFormat()
                r4.setAttribute("style", "background-color: #D22B2B;");
                rack = 4;
            } else if (data[1] >= 58 && data[1] <= 67) {
                resetFormat()
                r5.setAttribute("style", "background-color: #D22B2B;");
                rack = 5;
            } else if (data[1] >= 68 && data[1] <= 77) {
                resetFormat()
                r6.setAttribute("style", "background-color: #D22B2B;");
                rack = 6;
            } else if (data[1] >= 78 && data[1] <= 86) {
                resetFormat()
                r7.setAttribute("style", "background-color: #D22B2B;");
                rack = 7;
            } else if (data[1] >= 87 && data[1] <= 94) {
                resetFormat()
                r8.setAttribute("style", "background-color: #D22B2B;");
                rack = 8;
            } else if (data[1] >= 95 && data[1] <= 102) {
                resetFormat()
                r9.setAttribute("style", "background-color: #D22B2B;");
                rack = 9;
            } else if (data[1] >= 103 && data[1] <= 110) {
                resetFormat()
                r10.setAttribute("style", "background-color: #D22B2B;");
                rack = 10;
            } else if (data[1] >= 111 && data[1] <= 118) {
                resetFormat()
                r11.setAttribute("style", "background-color: #D22B2B;");
                rack = 11;
            } 
            $("#rackFind").append("Rack: "+rack);
            $("#rowFind").append("Row: "+data[1]);
            $("#sizeFind").append("Sheet Size: "+data[7]);
            $("#numFind").append("Sheets in Stock: "+data[3]);
            $("#noteFind").append("Notes: "+data[9]);
            if (data[0] == 'Material') {
                console.log('yes')
                $("#rackFind").html('');
                $("#rowFind").html('');
                $("#sizeFind").html('');
                $("#numFind").html('');
                $("#noteFind").html('');
            }
        });
    
    // TOGGLE NAVBAR
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

    function resetFormat() {
        r1.setAttribute("style", "background-color: #FFFFFF;");
        r2.setAttribute("style", "background-color: #FFFFFF;");
        r3.setAttribute("style", "background-color: #FFFFFF;");
        r4.setAttribute("style", "background-color: #FFFFFF;");
        r5.setAttribute("style", "background-color: #FFFFFF;");
        r6.setAttribute("style", "background-color: #FFFFFF;");
        r7.setAttribute("style", "background-color: #FFFFFF;");
        r8.setAttribute("style", "background-color: #FFFFFF;");
        r9.setAttribute("style", "background-color: #FFFFFF;");
        <!-- r10.setAttribute("style", "background-color: #FFFFFF;"); -->
        <!-- r11.setAttribute("style", "background-color: #FFFFFF;"); -->
    }
    </script>

    </body>
{% endblock %}
