{% extends 'base.html' %}

{% block content %}
    <body>
        <div>
            <h1 align="center">Material Racks</h1>
            <br>
            <h3>Something I'm working on... Give it time</h3>
            <div class="form-group">
                <select class="form-control" name ="material">
                    <option value="Material">Material</option>
                    {% for m in mtl %}
                    <option value={{m}}>{{m}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </body>
{% endblock %}
