<!DOCTYPE html>
<html>
    <head>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="static/js/application.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>
            html, body {
                overflow-x:hidden;
            }
            #ztable {
                font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                width: 80%;
            }
            #ztable td, #ztable th {
                border: 2px solid #ddd;
                padding: 8px;
            }
            #ztable tr:nth-child(even){background-color: #f2f2f2;}
            #ztable tr:hover {background-color: #ddd;}
            #ztable th {
                text-align: center;
                background-color: #4CAF50
            }
            #ztable td {
                text-align: center;
            }
            ul {
                position: fixed;
                width: 100%;
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
                overflow-x:hidden;
            }
            li {
                float: left; 
            }
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none; 
            }
            li a:hover:not(.active) {
                background-color: #111; 
            }
            .active {
                background-color: #ff3b3f; 
            }
        </style>
    </head>
    <body>
        <ul>
            <li><a class="active"><b><font color="white">Material Rack</b></font></a></li>
            <li style="float:left; margin-left: 30px; list-style-type: square;"><a href="{{ url_for('index') }}">Monarch Home</a></li>
            <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('rack02') }}">Rack 02</a></li>
            <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('rack01') }}">Rack 01</a></li>
            <li style="float:right; margin-right: 30px; list-style-type: square;"><a href="{{ url_for('index') }}">Rack Home</a></li>
        </ul>
        <div>
            <div class="row">
                <br>
                <br>
                <br>
                <h3 align="center">Rack 01</h3>
                <br>
                <table id="ztable" align="center">
                    <thead>
                    <tr>
                        <th width="10%">Row</th>
                        <th width="25%">Material Type</th>
                        <th width="15%">Sheet Size</th>
                        <th width="10%">No. of Sheets</th>
                        <th width="40%">Notes</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- <tr><td>18</td><td colspan="5">Not In Use</td></tr> -->
                        
                        <tr><td><a href="/edit/{{ rack[17][0] }}"><span style="font-weight:bold">{{ rack[17][1] }}</span></a></td><td> {{ rack[17][3] }}</td><td>{{ rack[17][4] }}</td><td>{{rack[17][2] }}</td><td> {{ rack[17][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[16][0] }}"><span style="font-weight:bold">{{ rack[16][1] }}</span></a></td><td> {{ rack[16][3] }}</td><td>{{ rack[16][4] }}</td><td>{{rack[16][2] }}</td><td> {{ rack[16][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[15][0] }}"><span style="font-weight:bold">{{ rack[15][1] }}</span></a></td><td> {{ rack[15][3] }}</td><td>{{ rack[15][4] }}</td><td>{{rack[15][2] }}</td><td> {{ rack[15][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[14][0] }}"><span style="font-weight:bold">{{ rack[14][1] }}</span></a></td><td> {{ rack[14][3] }}</td><td>{{ rack[14][4] }}</td><td>{{rack[14][2] }}</td><td> {{ rack[14][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[13][0] }}"><span style="font-weight:bold">{{ rack[13][1] }}</span></a></td><td> {{ rack[13][3] }}</td><td>{{ rack[13][4] }}</td><td>{{rack[13][2] }}</td><td> {{ rack[13][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[12][0] }}"><span style="font-weight:bold">{{ rack[12][1] }}</span></a></td><td> {{ rack[12][3] }}</td><td>{{ rack[12][4] }}</td><td>{{rack[12][2] }}</td><td> {{ rack[12][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[11][0] }}"><span style="font-weight:bold">{{ rack[11][1] }}</span></a></td><td> {{ rack[11][3] }}</td><td>{{ rack[11][4] }}</td><td>{{rack[11][2] }}</td><td> {{ rack[11][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[10][0] }}"><span style="font-weight:bold">{{ rack[10][1] }}</span></a></td><td> {{ rack[10][3] }}</td><td>{{ rack[10][4] }}</td><td>{{rack[10][2] }}</td><td> {{ rack[10][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[9][0] }}"><span style="font-weight:bold">{{ rack[9][1] }}</span></a></td><td> {{ rack[9][3] }}</td><td>{{ rack[9][4] }}</td><td>{{rack[9][2] }}</td><td> {{ rack[9][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[8][0] }}"><span style="font-weight:bold">{{ rack[8][1] }}</span></a></td><td> {{ rack[8][3] }}</td><td>{{ rack[8][4] }}</td><td>{{rack[8][2] }}</td><td> {{ rack[8][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[7][0] }}"><span style="font-weight:bold">{{ rack[7][1] }}</span></a></td><td> {{ rack[7][3] }}</td><td>{{ rack[7][4] }}</td><td>{{rack[7][2] }}</td><td> {{ rack[7][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[6][0] }}"><span style="font-weight:bold">{{ rack[6][1] }}</span></a></td><td> {{ rack[6][3] }}</td><td>{{ rack[6][4] }}</td><td>{{rack[6][2] }}</td><td> {{ rack[6][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[5][0] }}"><span style="font-weight:bold">{{ rack[5][1] }}</span></a></td><td> {{ rack[5][3] }}</td><td>{{ rack[5][4] }}</td><td>{{rack[5][2] }}</td><td> {{ rack[5][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[4][0] }}"><span style="font-weight:bold">{{ rack[4][1] }}</span></a></td><td> {{ rack[4][3] }}</td><td>{{ rack[4][4] }}</td><td>{{rack[4][2] }}</td><td> {{ rack[4][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[3][0] }}"><span style="font-weight:bold">{{ rack[3][1] }}</span></a></td><td> {{ rack[3][3] }}</td><td>{{ rack[3][4] }}</td><td>{{rack[3][2] }}</td><td> {{ rack[3][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[2][0] }}"><span style="font-weight:bold">{{ rack[2][1] }}</span></a></td><td> {{ rack[2][3] }}</td><td>{{ rack[2][4] }}</td><td>{{rack[2][2] }}</td><td> {{ rack[2][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[1][0] }}"><span style="font-weight:bold">{{ rack[1][1] }}</span></a></td><td> {{ rack[1][3] }}</td><td>{{ rack[1][4] }}</td><td>{{rack[1][2] }}</td><td> {{ rack[1][5] }} </td></tr>
                        <tr><td><a href="/edit/{{ rack[0][0] }}"><span style="font-weight:bold">{{ rack[0][1] }}</span></a></td><td> {{ rack[0][3] }}</td><td>{{ rack[0][4] }}</td><td>{{rack[0][2] }}</td><td> {{ rack[0][5] }} </td></tr>
                        <!-- <tr><td><a href="/edit/{{ rack[17][0] }}"><span style="font-weight:bold">{{ rack[17][1] }}</span></a></td><td> {{ rack[17][3] }}</td><td>{{ rack[17][4] }}</td><td><div id="log18"></div></td><td> {{ rack[17][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[16][0] }}"><span style="font-weight:bold">{{ rack[16][1] }}</span></a></td><td> {{ rack[16][3] }}</td><td>{{ rack[16][4] }}</td><td><div id="log17"></div></td><td> {{ rack[16][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[15][0] }}"><span style="font-weight:bold">{{ rack[15][1] }}</span></a></td><td> {{ rack[15][3] }}</td><td>{{ rack[15][4] }}</td><td>M</td><td> {{ rack[15][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[14][0] }}"><span style="font-weight:bold">{{ rack[14][1] }}</span></a></td><td> {{ rack[14][3] }}</td><td>{{ rack[14][4] }}</td><td><div id="log15"></div></td><td> {{ rack[14][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[13][0] }}"><span style="font-weight:bold">{{ rack[13][1] }}</span></a></td><td> {{ rack[13][3] }}</td><td>{{ rack[13][4] }}</td><td><div id="log14"></div></td><td> {{ rack[13][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[12][0] }}"><span style="font-weight:bold">{{ rack[12][1] }}</span></a></td><td> {{ rack[12][3] }}</td><td>{{ rack[12][4] }}</td><td><div id="log13"></div></td><td> {{ rack[12][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[11][0] }}"><span style="font-weight:bold">{{ rack[11][1] }}</span></a></td><td> {{ rack[11][3] }}</td><td>{{ rack[11][4] }}</td><td><div id="log12"></div></td><td> {{ rack[11][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[10][0] }}"><span style="font-weight:bold">{{ rack[10][1] }}</span></a></td><td> {{ rack[10][3] }}</td><td>{{ rack[10][4] }}</td><td><div id="log11"></div></td><td> {{ rack[10][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[9][0] }}"><span style="font-weight:bold">{{ rack[9][1] }}</span></a></td><td> {{ rack[9][3] }}</td><td>{{ rack[9][4] }}</td><td><div id="log10"></div></td><td> {{ rack[9][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[8][0] }}"><span style="font-weight:bold">{{ rack[8][1] }}</span></a></td><td> {{ rack[8][3] }}</td><td>{{ rack[8][4] }}</td><td><div id="log9"></div></td><td> {{ rack[8][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[7][0] }}"><span style="font-weight:bold">{{ rack[7][1] }}</span></a></td><td> {{ rack[7][3] }}</td><td>{{ rack[7][4] }}</td><td><div id="log8"></div></td><td> {{ rack[7][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[6][0] }}"><span style="font-weight:bold">{{ rack[6][1] }}</span></a></td><td> {{ rack[6][3] }}</td><td>{{ rack[6][4] }}</td><td><div id="log7"></div></td><td> {{ rack[6][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[5][0] }}"><span style="font-weight:bold">{{ rack[5][1] }}</span></a></td><td> {{ rack[5][3] }}</td><td>{{ rack[5][4] }}</td><td><div id="log6"></div></td><td> {{ rack[5][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[4][0] }}"><span style="font-weight:bold">{{ rack[4][1] }}</span></a></td><td> {{ rack[4][3] }}</td><td>{{ rack[4][4] }}</td><td><div id="log5"></div></td><td> {{ rack[4][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[3][0] }}"><span style="font-weight:bold">{{ rack[3][1] }}</span></a></td><td> {{ rack[3][3] }}</td><td>{{ rack[3][4] }}</td><td><div id="log4"></div></td><td> {{ rack[3][5] }} </td></tr> -->
                
                        <!-- <tr><td><a href="/edit/{{ rack[2][0] }}"><span style="font-weight:bold">{{ rack[2][1] }}</span></a></td><td> {{ rack[2][3] }}</td><td>{{ rack[2][4] }}</td><td><div id="log3"></div></td><td> {{ rack[2][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[1][0] }}"><span style="font-weight:bold">{{ rack[1][1] }}</span></a></td><td> {{ rack[1][3] }}</td><td>{{ rack[1][4] }}</td><td><div id="log2"></div></td><td> {{ rack[1][5] }} </td></tr> -->
                        <!-- <tr><td><a href="/edit/{{ rack[0][0] }}"><span style="font-weight:bold">{{ rack[0][1] }}</span></a></td><td> {{ rack[0][3] }}</td><td>{{ rack[0][4] }}</td><td><div id="log1"></div></td><td> {{ rack[0][5] }} </td></tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
