{% extends 'base.html' %}

{% block content %}
    <h1 align='center'>Edit Rack</h1>
    <form method="POST" id="target">
        <div class="form-group">
            <input type="hidden" type="text" class="form-control" name="id" value="{{ data.id }}" placeholder="ID" readonly>
        </div>
        <div class="form-group">
            <p class="formTitle">Rack</p> <input type="text" class="form-control formRack" name="rack" value="{{ data.rack }}" placeholder="Rack" readonly>
        </div>
        <div class="form-group">
            <p class="formTitle">Material Type</p> <input type="text" class="form-control formMtl" name="matl" value="{{ data.matl }}" placeholder="Material Type" readonly>
        </div>
        <div class="form-group">
            <p class="formTitle">Sheet Size</p> <input type="text" class="form-control formSize" name="size" value="{{ data.size }}" placeholder="Sheet Size" readonly>
        </div>
        <div class="form-group">
            <p class="formTitle">Sheets</p> <input type="text" class="form-control formSheet" name="row" value="{{ data.row }}" placeholder="Row">
        </div>
        <div class="form-group">
            <p class="formTitle">Notes</p><input type="text" class="form-control formNote" name="note" value="{{ data.note }}" placeholder="Notes">
        </div>
        <div class="form-group">
            <input type="hidden" type="text" class="form-control" name="weight" value="{{ data.weight }}" placeholder="Weight">
        </div>
        <div class="form-group">
            <input type="hidden" type="text" class="form-control" name="phidget" value="{{ data.phidget }}" placeholder="Phidget">
        </div>
        <div>
            <a href="/advedit/{{ data.id }}" class="formAdv">Advanced Settings</a>
        </div>
        <button type="submit" class="btn btn-block btn-primary formBtn">Update</button>
    </form>
{% endblock %}
